.explore-body{
    background-image: url('https://media.istockphoto.com/photos/food-delivery-rider-with-bicycle-delivering-food-picture-id1286839922?b=1&k=20&m=1286839922&s=170667a&w=0&h=slajWRVvXYULhNYezFWlng4rWl8PgkhrCYsDxnWHr58=');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height:100vh ;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken,luminosity;
    }

    .inputs{
        display: block;
        box-sizing: border-box;
        width: 680px;
        border-radius: 4px;
        border: 1px solid black;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 14px;
        margin: 0 auto;
    }
    .textColor{
        color: #C56824;
    }
    .btncolr{
        background-color:#C56824;
    }